* {
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

/*ヘッダー～店舗名、メッセージ*/
.header{
    background-image: url(img/coffeevalley_ikebukuro_0_800.jpg);
    height: 320px;
    margin-bottom: 40px;
    background-size: cover;
    background-color:white;
}

.PageTitle {
    font-size: 70px;
    text-align: center;
}

.message {
    padding-top: 30px;
    text-align: center;
    color: #56453b;
}
/*終*/

/*メイン始*/
main{
    display: flex;
    min-height: 100vh;
    margin: 10px 0 10px 0;
    right: 0px;
}

.content-area{
    width:700px;
    min-height:300px;
    color : #000000;
    margin-right: auto;
    margin-left : auto;
    margin-top:1.5%;
    margin-bottom: 1.5%;
    font-size: 1.6em;
    line-height: 1.5em;
    border-radius: 15px;
  }

/*menu*/
#h1{
    font-size: 22px;
    color: #eee;
    padding-left: 8px;
    background-color: #56453b;
}

.main-menu p{
    font-size: 18px;
    padding-bottom: 5px;
}

.Food-menu p{
    border-bottom: 1px dotted #000000;
    margin-bottom: 5px;
}

.Drink-menu P{
    border-bottom: 1px dotted #000000;
    margin-bottom: 5px;
}

.content h2{
    font-size: 18px;
}

/*サイドバー*/

/* sub-menu */
#global-nav .sub-menu-nav {
	position: fixed;
	background: #033560;
	color: #fff;
	top: 0;
	padding-top: 90px;
	left: 260px;
	width: 0;
	height: 100%;
	overflow: hidden;

	-moz-transition: width .2s ease-out;
	-webkit-transition: width .2s ease-out;
	transition: width .2s ease-out;
}
#global-nav .sub-menu.is-active > a:after,
#global-nav .sub-menu-head:hover:after {
	border-color: #fff;
}
#global-nav .sub-menu-nav a {
	color: #fff;
}
#global-nav .sub-menu-nav a:hover {
	color: #033560;
	background: #fff;
}


/* nav-toggle */
#nav-toggle {
	display: none;
	position: fixed;
	top: 15px;
	right: 15px;
	height: 32px;
}
#nav-toggle > div {
	position: relative;
	width: 32px;
}
#nav-toggle span {
	width: 100%;
	height: 2px;
	left: 0;
	display: block;
	background: #033560;
	position: absolute;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
	top: 0;
}
#nav-toggle span:nth-child(2) {
	top: 11px;
}
#nav-toggle span:nth-child(3) {
	top: 22px;
}


#overlay {
	display: none;
	position: fixed;
	background: rgba(0,0,0,.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/*終*/



/*おしり*/

/**SNSリンク*/
.SNS-icon p{
    color: #eee;
    text-align: center;
}

.SNS-icon{

    position: relative;
    overflow: hidden;
  }


.SNS-icon ul {
    position: relative;
    left: 50%;
    float: left;
}
.SNS-icon ul li {
  position: relative;
  left: -50%;
  float: left;
  list-style: none;
}

.appIconBig{
    width: 40px;
    height: 40px;
    display: block;

   }

/*ここまで*/


/*フッター*/
.footer-inner{
    background-color: #56453b;


}

ul.footer-ul{
    text-align: center;
    padding: 1em 0;

}

ul.footer-ul li{
    color: #eee;
    display: -moz-inline-box;
    display: inline-block;
    display: inline;
    zoom: 1;
    padding-right: 1em;
}

#footer .copyright p{
    text-align: center;
    color: white;
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;

}

/*完*/
