@media screen and (max-width: 900px) {
    * {
        margin: 0;
        padding: 0;
}

html,body {
		height: 100%;
		
}
main {
		background: #eee;
		width: 100%;
		margin: 0 auto;
}

#main-visual h2{
	font-size: 28px;
}

#main-visual p{
	font-size: 12px;
}


#sidebar {
		/*display: none;*/
		position: fixed;
		right: -300px;
		top: 0;
		height: 100%;
		width: 300px;
		color: #333;
		background: #fff;
		-webkit-transition: .35s ease-in-out;
		transition: .35s ease-in-out;
}

	/* サブメニューは開けない */
#global-nav .sub-menu-head:after,
#global-nav .sub-menu-nav {
		display: none;
}
#nav-toggle {
		display: block;
}

	/* nav open */
.open {
		overflow: hidden;
}
.open #overlay {
		display: block;
}
.open #sidebar  {
		-webkit-transform: translate3d(-300px,0,0);
		transform: translate3d(-300px,0,0);
}

	/* #nav-toggle close */
.open #nav-toggle span:nth-child(1) {
		top: 11px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
}
.open #nav-toggle span:nth-child(2) {
		width: 0;
		left: 50%;
}
.open #nav-toggle span:nth-child(3) {
		top: 11px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		transform: rotate(-45deg);
}

	/* z-index */
#overlay {
		z-index: 200;
}
#sidebar {
		z-index: 300;
}
#nav-toggle {
		z-index: 400;
}
.border{
	    border-left: 1px dotted white;
}

main{
	 margin: 30px auto;
}


.content {
	width: 320px;
}

/*お知らせ*/
.text1{
	width: 320px;
	padding: 20px;
	font-size: 12px;
}

.text2{
	width: 320px;
	padding: 10px;
	font-size: 12px;
}

/*お知らせ終わり*/

/*こだわり*/
 .h2{
	margin-bottom: 10px;
	font-size: 15px;
	float: left;
}


/*テキストエリア*/
.imgArea1{
	height: 500px;
	width: 320px;
	display: flex;
	flex-direction: column;
}

.imgArea1 p{
 padding-top: 1em;
 font-size: 12px;
}

.imgArea2{
	height: 520px;
	display: flex;
	flex-direction: column;
}

.imgArea2 p{
	width: 320px;
	font-size: 12px;
}

.imgArea3{
	height: 600px;
	display: flex;
	flex-direction: column;
}

.imgArea3 p{
	 width: 320px;
	 font-size: 12px;
}

.txt4{
	margin:10px 0 10px 0;
	font-size: 12px;

}

#txt1 p{
	font-size: 12px;
}

/*t店舗情報*/
.google_map{
    position:relative;
    width:100%;
    height:0;
    padding-top:75%;
    }
    .google_map iframe{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    /*店舗情報*/
#shopinfo{
		display: flex;
		flex-direction: column;
		flex-direction: column-reverse;
}


.Address dt{
	clear: left;
	float: left;
	width: 10%;
}

.Address dd{
	max-width: 30%;
}
.Address{
		font-size: 15px;
		margin-bottom:30px;
}


.footer-ul{
		font-size: 10px;
}
}

