header{
    background-image: url("img/cafeimage.jpg");
    height: 840px;
    background-size: cover;
    background-color: antiquewhite;

}

header h1 {
    font-size: 18px;
    text-align: center;
    color: antiquewhite;
}

.flex_test-box{
    display: flex;
}

aside{
    float: left;
}
.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}

.sub-menu li{
    border-bottom: 1px #ddd solid;
}

.sub-menu a:hover{
    color: #0bd;
}

main{
    float: right;
}