body{
    background-color: antiquewhite;
}
header{
    background-image: url("img/ヘッダー.jpg");
    height: 320px;
    background-size: cover;
    background-color:white;

}

header h1{
    color: black;
    font-family: font-family 'Palatino Linotype',sans-serif;
    font-size: 48px;
    border: 5px solid black;
    width: 400px;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:30px;
    border-radius: 20px;
}

header h2 {
    font-size: 18px;
    text-align: center;
    color:white;
    font-family: font-family: 'Noto Sans JP', 'Segoe UI', "メイリオ", Meiryo, sans-serif;;
}

.flex-box{
    display: flex;
}

aside{
    float: left;
}
.sub-title {
    font-size: 1.375rem;
    font-family: 'Noto Sans JP', 'Segoe UI', "メイリオ", Meiryo, sans-serif;
    padding: 0 8px 8px;
    border-bottom: 2px rgb(97, 141, 15) solid;
    font-weight: normal;
}

.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}

.sub-menu li{
    border-bottom: 1px #ddd solid;
}

.sub-menu a:hover{
    color: #0bd;
}


.SNS-icon img{
    width: 40px;
    height: 40px;
    float: left;

}



.main-contants {
    border: 2px solid rgb(2s01, 204, 204);
    overflow: scroll;
    width: 40em;
    margin: 40px 80px 0 200px;

}

.main-contants h1{
    font-family: fantasy;
    font-size: 28px;
}

.main-contants p{
    font-family: 'Noto Sans JP', 'Segoe UI', "メイリオ", Meiryo, sans-serif;
    color: black;
    font-size: 28px;
    text-align: center;
}

.shopinfo img{
    width: 640px;
    height: 480px;
}


.copyright p{
    text-align: center;
    background-color: sienna;
    height: 40px;
}