body{
    background-color: antiquewhite;
}
header{
    background-image: url("img/ヘッダー.jpg");
    height: 320px;
    background-size: cover;
    background-color:white;

}

header h1{
    color: black;
    font-family: font-family 'Palatino Linotype',sans-serif;
    font-size: 48px;
    border: 5px solid black;
    width: 400px;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:30px;
    border-radius: 20px;
}

header h2 {
    font-size: 18px;
    text-align: center;
    color:white;
}

.flex_test-box{
    display: flex;
}

aside{
    float: left;
}
.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}

.sub-menu li{
    border-bottom: 1px #ddd solid;
}

.sub-menu a:hover{
    color: #0bd;
}


.SNS-icon img{
    width: 40px;
    height: 40px;
    float: left;

}

main{
    float: right;
}

.main-contants {
    border: 2px solid rgb(201, 204, 204);
    overflow: scroll;
    width: 40em;

}

.main-contants h1{
    text-align: center;
}